
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="blog_right_content">


        <div class="single_widget widget_padding_botttm">
            <div class="single_widget_content about_img">
                <div class="single_widget_content">
                    <h3 class="widget_headings">search</h3>
                     <div class="single_widget_form fix">
                         <form action="{% url 'myblog:search' %}" method="GET" id="search_all">
                             <input type="search" id="item" name="item" placeholder="search">
                         </form>
                         <a href="#" id="search"><i class="fa fa-search"></i></a>
                     </div>
                </div> <!-- single_widget_content end -->
            </div> <!-- single_widget_content end -->
        </div> <!-- single_widget end -->


        <div class="single_widget widget_padding_botttm">
            <div class="single_widget_content">
                <h3 class="widget_headings">categories</h3>
                <div class="single_widget_archive fix">
                        {% for cat in cat %}
                    <ul>
                        <li style="margin-left:110px;"><a href="{% url 'myblog:filt' cat.title %}"><span class="catogorie_name">{{cat}}</span></a></li>
                        
                    </ul>
                    {% endfor %}
                </div>
            </div> <!-- single_widget_content end -->
        </div> <!-- singel_widget end -->

        <div class="single_blog padding_bottom">

            <div class="single_blog_content">
                <div class="single_blog_form">
                    <p>Subscribe our <span>Newsletter</span></p>
                    <form  method="POST" id="subcribe">
                        {% csrf_token %}
                        <input type="email" name="email" required id="email"><br>
                        <div class="text-center ">
                        <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div> <!-- single_blog_content end -->
            
        </div> <!-- single_blog end -->


        <div class="single_widget widget_padding_botttm">
            <div class="single_widget_content">
                <h3 class="widget_headings">Recent Posts</h3>
                <div class="singel_widget_recentpost">
                    {% for latest in latest%}
                    <div class="recentpost_list fix">
                        <p class="sub_widget_headings"><a href="{{ latest.get_absolute_url1 }}">{{ latest.title}}</a>
                            <span><i class="icon-calendar "></i>{{ latest.updated|date:'F Y, dS , P'}}</span>
                        </p>
                    </div>
                    {% endfor %} <!-- recentpost_list end -->

                </div>
            </div> <!-- single_widget_content end -->
        </div> <!-- single_widget end -->








    </div> <!-- blog_right_content end -->
</div> <!-- col-md-4 end -->

